<!DOCTYPE html>
<html>
<head>
    <title>Lista de Sodas</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Lista de Sodas</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Envase</th>
        </tr>
        {% for soda in sodas %}
            <tr>
                <td>{{ soda.NOMBRE }}</td>
                <td>${{ soda.PRECIO }}</td>
                <td>{{ soda.ENVASE }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
