/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
}

/* Estilo para las filas impares de la tabla */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
